.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	overflow: hidden;
}

form {
	left: 40%;
	top: 55%;
	height: 55%;
	position: absolute;
	transform: translate(-50%, -50%);
	background: rgba(211, 211, 211, 0.4);
	padding: 20px 20px 80px 20px;
	text-align: center;
	border-radius: 20px;
	width: 400px;
}

h2{
	text-align: left;
}

.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	flex-direction: column; /* Changes the direction to column */
}

.input-icon-container {
    display: flex;
    align-items: center;
    border: 2px;
}

.icon {
	padding: 10px;
	background: #131946;
	color: #fff;
	min-width: 50px;
	text-align: center;
}

.input-field {
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: 15px;
	outline: none;
	border: 1px solid #000040;
}

.input-field:focus {
	border: 2px solid dodgerblue;
}

.btn {
	background: #131946;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	width: 50%;
	font-size: 22px;
}

.btn:hover {
	background: #ffffff;
	color: #131946;
}

.newUser_btn {
	background: #131946;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	width: 50%;
	font-size: 22px;
}

.newUser_btn:hover {
	background: #ffffff;
	color: #131946;
}


.namings {
	color: black;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Arial;
	margin-bottom: 10px;
}

.namings, 
.input-field {
    display: block;
}

.thin-line {
	width: 1px;
	height: 70%; /* Adjusted to match the height of .right-content */
	background-color: green;
	margin-right: 20px;
	margin-top: 20px;
	top: 18%;
	height: 70%;
	position: absolute;
	left: 55%;
}

.text-and-button {
	font-family: Arial;
    height: 100%;
    margin-right: 20px;
	margin-top: 20px;
	top: 35%;
	height: 70%;
	position: absolute;
	left: 58%;
}

.text-and-button p {
    margin-bottom: 20px;
    text-align: top;	
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-family: Arial;
}

.newUsersPara{
	 font-size: 24px;
}

.input-error {
    border: 2px solid red; 
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 4px;
    font-weight: bold;
}

.flash-msg {
	color: red;
	font-size: 20px;
	font-weight: bold;
}
