body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container {
	width: 75%;
	margin: 0 auto; /* Center the DIV horizontally */
	max-width: 1200px; /* Limit the maximum container width */
	padding: 10px; /* Add padding inside the container */
}

.fixed-header, .fixed-footer {
	width: 100%;
	position: fixed; 
	background: #131946;
	padding: 8px 0px;
	color: #fff;
}

.fixed-header {
	top: 0;
	height: 15%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
  
.logo {
  max-width: 400px; /* Adjust the maximum width for your logo */
}

nav {
  position: absolute;
  top: 50%; /* Place navigation 50% from the top of the header */
  transform: translateY(-50%); /* Vertically center the navigation */
  right: 0; /* Align navigation to the right */
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 28px;
  margin: 0 10px; /* Adjust spacing between navigation items */
  font-weight: bold; /* Make the font bold */
}

/* Style the navigation as a menu bar */
nav a:hover {
  background: #fff; /* Change background color on hover */
  color: #131946;
  transition: 0.5s;
  font-weight: bold; /* Make the font bold */
}

.fixed-footer {
	bottom: 0;
	text-align: center; /* Center text within the header and footer */
}

.divider {
  position: absolute;
  width: 1px;
  height: calc(80% - 60px - 40px); /* Subtract the header and footer heights */
  left: 50%;
  top: 180px; /* Set top to be just below the header */
  transform: translateX(-50%);
  /* Set the background color to blue with 50% opacity */
  background-color: rgb(255, 255, 128);
  filter: blur(2px); /* Apply a blur effect to the line */
}