<!-- dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{static/chatbotStyles.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{static/dashboardStyles.css}">
<link rel="stylesheet" th:href="@{static/borderStyles.css}">
<link rel="stylesheet" th:href="@{static/try.css}">
<script defer th:src="@{static/dashboard.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var balance = /*[[${accountInfo.totalBalance}]]*/ 'defaultBalance';
    var accountNumber = /*[[${accountInfo.accountNo}]]*/ 'defaultAccountNumber';
    var fullName = /*[[${accountInfo.fullName}]]*/ 'Account Holder name';
    /*]]>*/
</script>

<title>dashboard</title>
</head>
<body>

	<div class="fixed-header">
		<div class="container">
			<div class="logo-container">
				<img th:src="@{static/bank_logo.png}" alt="Logo" class="logo">
			</div>
			<nav>
				<a href="#">About Us</a> <a href="#">Contact Us</a> <a href="#">Log
					out</a>
			</nav>
		</div>
	</div>

	<div class="profile_container">
		<div class="bg">
			<img th:src="@{static/old_man.png}" alt="Profile Image">
		</div>
		<h2 class="profile_header" th:text="${accountInfo.fullName}"> Default Name</h2>

		<h3>Account Summary</h3>
		<table class="account_summary">
			<tr>
				<td>Account Number:</td>
				<td><span class="masked" id="accountNumber" th:data-account-number="${accountInfo.accountNo}">*****6789</span></td>
			</tr>
			<tr>
				<td>Balance:</td>
				<td><span class="masked" id="balance"  th:data-balance="${accountInfo.totalBalance}">*****90</span></td>
			</tr>
			<tr>
				<td>Type of Account:</td>
				<td>Savings</td>
			</tr>
			<tr>
			<tr>
			</tr>
		</table>
		<button class="view_balance_button" onclick="showBalanceAndAccount()">View
			Balance</button>
	</div>

	<div class="dashboard_block">
		<div class="dashboard">
			<div class="back-login">
				<a href="accounts" class="btn_href">
					<button onclick="postAndNavigate()" class="dashboard-button"
					th:style="'background-image: url('+ @{static/accounts.png} +');'"></button> </a>
					<label>Accounts</label>
			</div>
			
			<div class="option">
				<a href="statements" class="btn_href">
				<button onclick="navigate('fundsTransfer')" class="dashboard-button"
					th:style="'background-image: url('+ @{static/transactions.png} +');'"></button> </a>
				<label>Transactions</label>
			</div>
			<div class="option">
			<a href="statements" class="btn_href">
				<button onclick="navigate('statements')" class="dashboard-button"
					th:style="'background-image: url('+ @{static/statements.jpg} + ');'"></button> </a>
				<label>Statements</label>
			</div>
			<div class="option">
			<a href="viewCards" class="btn_href">	<button onclick="navigate('cards')" class="dashboard-button"
					th:style="'background-image: url('+ @{static/cards.jpg} +');'"></button> </a>
				<label>Bank Cards</label>
			</div>
			<div class="option">
				<button onclick="navigate('help')" class="dashboard-button"
					th:style="'background-image: url('+ @{static/help.jpg} +');'"></button>
				<label>Help</label>
			</div>

			<button class="chatbot-toggler">
				<span class="material-symbols-rounded">
					<p class="bot_info">Hi, I am Ava, click on me for help :)</p> <img
					th:src="@{static/avatar2.png}" alt="test" class="avatar">
				</span> <span class="close_text">close</span>
			</button>

			<div class="chatbot">
				<header>
					<h2>Chatbot</h2>
					<!-- Close and minimize buttons -->
					<div class="chatbot-controls">
						<button class="minimize-btn">_</button>
						<button class="close-btn">x</button>
					</div>
				</header>
				<ul class="chatbox">
					<li class="chat incoming"><span
						class="material-symbols-outlined">smart_toy</span>
						<p>
							Hi there 👋<br>How can I help you today?
						</p></li>
				</ul>
				<div class="chat-input">
					<textarea placeholder="Enter a message..." spellcheck="false"
						required></textarea>
					<span id="send-btn" class="material-symbols-rounded">send</span>
				</div>
			</div>
		</div>
	</div>

	<div class="fixed-footer">
		<div class="container">Copyright &copy; 2023 AustraliaOldPeople
			Bank</div>
	</div>

</body>
</html>