<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" th:href="@{static/borderStyles.css}" />
<link rel="stylesheet" th:href="@{static/registerStyles.css}" />
<link rel="stylesheet" th:href="@{static/RegoStyles.css}" />
<script defer th:src="@{static/login-page.js}"></script>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="fixed-header">
		<div class="container">
			<div class="logo-container">
				<img th:src="@{static/bank_logo.png}" alt="Logo" class="logo">
			</div>
			<nav>
				<a href="#">About Us</a> <a href="#">Contact Us</a>
			</nav>
		</div>
	</div>
	<div>
		<div class='container'>
			<div class='row'>
				<div class="message">
					<div th:if="${param.success}">
						<div class="alert alert-info">You've successfully registered</div>
					</div>
				</div>
			</div>
		</div>

		<form action="#"  th:action="@{/registration}" method="POST" class="login-form" th:object="${UserRegistration}">
		
			<h2>Registration Form</h2>
			<div class="form-group">
				 <label for="username">Username</label>
				 <input id="username" name="Username" type="text" th:field="*{userName}" 
				 placeholder="Enter your username" required>
			</div>

			<div class="form-group">
				<label for="password">Temporary</label> <input type="password"
					id="temp_password" placeholder="temporary password" th:field="*{tempPassword}" required>
			</div>

			<div class="form-group">
				<label for="password">New Password</label> <input type="password"
					id="password" placeholder="Password" th:field="*{newPassword}" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label> <input
					type="password" id="confirmPassword" placeholder="Confirm Password"
					required>
			</div>

			<div class="form-group">
				<label for="password">Security pin</label> <input type="password"
					id="secure_pin" placeholder="secure_pin" th:field="*{securePin}"  required>
			</div>

			<div class="form-group">
				<label for="password">Confirm security pin</label> <input
					type="password" id="confirm_pin" placeholder="confirm secure_pin"
					required>
			</div>

			<div class="form-group">
				<input type="submit" value="SUBMIT">
			</div>
		</form>

		<div class="thin-line"></div>
		<div class="text-and-button">
			<span class="flash-msg" th:text="${message}"></span>
			<div class="back-login">
				<a href="login" class="btn_href">Go to Login</a>
			</div>
			<p class="newUsersPara">
				If you do not know or forget your temporary password, kindly reach
				out to our customer care. <br> Dial us on 1800 0081 or write an
				email support@aop.com
			</p>
		</div>

	</div>

	<div class="fixed-footer">
		<div class="container">Copyright &copy; 2023
			AustraliaOldPeopleBank</div>
	</div>
</body>
</html>