<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightbox Example</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<button id="myBtn">New Users</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Reset your password</h2>
    <!-- The rest of your form -->
  </div>
</div>

<script src="testScript.js"></script>
</body>
</html>
