<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AOP Bank - Accounts</title>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{static/borderStyles.css}">
<link rel="stylesheet" th:href="@{static/accountStyles.css}">
<script defer th:src="@{static/accounts.js}"></script>
</head>
<body>
	<div class="fixed-header">
		<div class="container">
			<div class="logo-container">
				<img th:src="@{static/bank_logo.png}" alt="Logo" class="logo">
			</div>
			<nav>
				<a href="#">About Us</a> <a href="#">Contact Us</a> <a href="login">Log
					out</a>
			</nav>
		</div>
	</div>

	<div class="wrapper">
		<div class="sidebar">
			<h2>Menu</h2>
			<ul>
				<li><a class="menu_item" href="dashboard"><i
						class="fa fa-home"></i> &nbsp; Home</a></li>
				<li><a class="menu_item" href="fundsTransfer"><i
						class="fa fa-money"></i> &nbsp; Fund Transfer</a></li>
				<li><a class="menu_item" href="statements"> <i
						class="fa fa-file-text-o"></i> &nbsp; Statements
				</a></li>
				<li><a class="menu_item" href="#"><i
						class="fa fa-credit-card"></i> &nbsp; Bank cards</a></li>
				<li><a class="menu_item" href="settings"><i
						class="fa fa-cog"></i> &nbsp; Settings</a></li>
			</ul>
		</div>

		<div class="main_content">
			<div class="accounts_header">Your linked bank accounts</div>
			<div class="info">

				
					<!-- <div class="account-header"> -->
						<h2>Savings account</h2>
						<section class="account" id="card">
						<p class="zoom-hdr"> Zoom</p>
					 <span class="magnifier" onclick="zoomIn()">🔍In</span>
					 <span class="magnifier" onclick="zoomOut()">🔍Out</span>
					 
					<div class="account-details">
						<p>
							Account number: <span th:text="${accountInfo.accountNo}">21XXXXX</span>
						</p>
						<p>
							BSB number: <span th:text="${accountInfo.bsb}">6XXXXX</span>
						</p>
						<p>
							Total balance: <span th:text="${accountInfo.totalBalance}">636-636</span>
						</p>

						<div class="buttons">
							<a href="getAllPayees" class="btn_href">
								<button>View Payees</button>
							</a>
							<button onclick="navigateAcctSummary()">View More</button>
						</div>
					</div>

					<div class="thin-line"></div>

					<div class="account-stats">
						<div class="financial-dashboard">
							<!-- Insert statistical information here -->
							<p>Your account activity for this month</p>
							<br>
							<p class="bar in-bar"
								th:style="'width: calc((' + ${accountInfo.inFlow} + ' / (' + ${accountInfo.inFlow} + ' + ' + ${accountInfo.outFlow} + ')) * 100%);'">
								In flow <span class="bar-text">$1235.15 </span>
							</p>

							<p class="bar out-bar"
								th:style="'width: calc((' + ${accountInfo.outFlow} + ' / (' + ${accountInfo.inFlow} + ' + ' + ${accountInfo.outFlow} + ')) * 100%);'">
								Out flow <span class="bar-text">$567.23</span>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="fixed-footer">
		<div class="container">Copyright &copy; 2023
			AustraliaOldPeopleBank</div>
	</div>
</body>
</html>
