<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Credit Card Display</title>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="testStyles.css">
<script defer src="cards.js"></script>
</head>
<body>
<div class="card-container">
  <div id="card" class="credit-card">
    <div class="card-number" id="number">#### #### #### ####</div>
    <div class="card-name" id="name">FULL NAME</div>
    <div class="card-expiry">
      <span id="month">MM</span>/<span id="year">YY</span>
    </div>
    <div class="card-cvc" id="cvc">CVC</div>
  </div>
</div>

<table class="card-details">
  <tr>
    <th>Card Number</th>
    <th>Cardholder's Name</th>
    <th>Expiry Date</th>
    <th>CVC</th>
    <th>Action</th>
  </tr>
  <tr>
    <td id="table-number">#### #### #### ####</td>
    <td id="table-name">FULL NAME</td>
    <td id="table-expiry">MM/YY</td>
    <td id="table-cvc">CVC</td>
    <td><button class="disable-btn">Disable Card</button></td>
  </tr>
</table>

<script src="script.js"></script>
</body>
</html>
