<!-- dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">  -->
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{static/styles/borderStyles.css}">
<link rel="stylesheet" th:href="@{static/styles/ViewPayees.css}">
<script defer th:src="@{static/js/payees.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("tr:odd").css({
			"background-color" : "#000",
			"color" : "#fff"
		});
	});
</script>
<title>dashboard</title>
</head>
<body>
	<div class="fixed-header">
		<div class="container">
			<div class="logo-container">
				<img th:src="@{static/images/bank_logo.png}" alt="Logo" class="logo">
			</div>
			<nav>
				<a href="#">About Us</a> <a href="#">Contact Us</a> <a href="#">Log
					out</a>
			</nav>
		</div>
	</div>

	<div class="transaction-history-container">
		<div class="table-add-hdr">
			<h2>Payees List</h2>
			<div class="zoom-span">
				<button onclick="zoomIn()">Zoom In</button>
				<button onclick="zoomOut()">Zoom Out</button>
			</div>
			
			<p class="zoom-hdr">Zoom:</p>
					<span class="magnifier" onclick="zoomIn()"> 🔍In</span>
					<p class="zoom-hdr">|</p>
					<span class="magnifier" onclick="zoomOut()"> 🔍Out</span>
		</div>

		<table class="table-container">
			<thead class="table-dark">
				<tr>
					<th>S.No</th>
					<th>Payee Name</th>
					<th>Account Number</th>
					<th>Bank</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="payeesList: ${payeesList}">
					<td style="text-align: center;" th:text="${payeesList.id}"></td>
					<td th:text="${payeesList.payeeName}"></td>
					<td th:text="${payeesList.accountNo}"></td>
					<td th:text="${payeesList.payeeBank}"></td>
					<td><a class="disable-btn" href="#">Edit/Delete </a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="fixed-footer">
		<div class="container">Copyright &copy; 2023 AustraliaOldPeople
			Bank</div>
	</div>
</body>
</html>
