#chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    z-index: 1000;
}

.chatbot-hidden {
    display: none;
}

#chatMessages {
    height: 80%;
    overflow-y: scroll;
}

input, button {
    width: calc(100% - 20px);
}

#chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
