button {
	border: 1px solid #ddd;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 10px;
	width: 50%;
	background-color: #131946; /* Lighter blue background; */
	color: white;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	margin-top: 0px;
	margin-right: 10px;
}

button:hover {
	background-color: #3c3c7c; /* Slightly darker on hover */
}

.transaction-history-container {
	width: 100%;
	overflow-x: auto;
}

/* Table styling */
.transaction-history table {
	width: 70%;
	border-collapse: collapse;
	margin-top: 0px;
	margin-left: 380px;
	border: 1px solid black;
}

.transaction-history th {
	background-color: #131946; /* Lighter blue for headers */
	color: #fff;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}

.transaction-history td {
	padding: 2px;
	border-bottom: 1px solid #000000;
	text-align: left;
	font-weight: bold;
}

tbody td {
	padding: 30px;
}

tbody tr:nth-child(odd) {
	background-color: #e4e4e4;
	color: #000000;
}

.table-add-hdr {
	text-align: center; /* Center the header text */
	margin-bottom: 20px;
	/* Provide spacing between the header and the table */
}

.table-add-hdr h2 {
	display: inline-block;
	/* Make the header inline for additional styling */
	font-size: 26px;
	margin: 0; /* Reset margins to align properly */
	margin-left: 200px;
}

.table-add-hdr h2 {
	display: inline-block;
	/* Make the header inline for additional styling */
	font-size: 26px;
	margin: 0; /* Reset margins to align properly */
	margin-left: 200px;
}

.btn-hdr {
	border: 1px solid #ddd;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 10px;
	width: 8%;
	background-color: #131946; /* Lighter blue background; */
	color: white;
	font-weight: bold;
}

.zoom-span {
	margin-left: 200px;
}